#Contents{
	width: 100%;
	background: #FFFFFF;
	height: 500px;

}

#Header{
	width: 400px;
	background: #cce0ff;
	border: 1px solid #000000;
	padding: 5px;
}

.header{
	font-size: 20px;
	font-weight: bold;
}
